.content {
  width: 35%;
  padding-right: 20px;
}

.purpose, .latest-evaluations {
  margin-bottom: 30px;
}

.purpose h2, .latest-evaluations h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-style: oblique;
  font-weight: bold;
}

.purpose h2 .yellow, .latest-evaluations h2 .yellow {
  color: #EAB534; 
}

.purpose h2 .blue, .latest-evaluations h2 .blue {
  color: #1E0A67; 
}

.purpose p, .latest-evaluations p {
  font-size: 16px;
  color: #333;
  line-height: 1.9;
  text-align: justify;
}
  