@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
==============================
Globales
==============================
*/

/* 
    Fuentes
*/
:root {
    --color-primary: #022C5E; /* Azul */
    --color-primary-dark: #011A3E; /* Azul oscuro para hover */
    --color-secondary: #C68F33; /* Dorado */
    --color-secondary-dark: #8A5E22; /* Dorado oscuro para hover */
    --color-tertiary: #F2F2F2; /* Blanco */
    --color-accent: #4CAF50; /* Verde */
    --color-background-dark: #333333; /* Gris oscuro */
    --color-text-light: #B0B0B0; /* Gris claro */
    --color-alert: #E57373; /* Rojo */
}

/*
==============================
Header
==============================
*/

/* Icono Burger*/
.nav-icon {
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
  
.nav-icon span {
    background-color: black;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
}

.nav-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.nav-icon span:nth-child(2) {
    top: 13px;
    left: 0px;
}

.nav-icon span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.nav-icon:not(.open):hover span:nth-child(1) {
    transform: scaleX(.8);
}

.nav-icon:not(.open):hover span:nth-child(2) {
    transform: scaleX(.5);
}

.nav-icon:not(.open):hover span:nth-child(3) {
    transform: scaleX(.8);
}

.nav-icon.open span:nth-child(1) {
    top: 13px;
}

.nav-icon.open span:nth-child(2) {
    top: 13px;
}
  
.nav-icon.open span:nth-child(3) {
    top: 13px;
}

/* 
    Modal Menu
*/

.menu__modal {
    position: absolute;
    background-color: #a09c9c;
    max-width: 300px;
    min-height: 400px;
    width: 100%;
    height: auto;
    top: -1000px;
    right: -1000px;
    z-index: 10;
    transition: all .6s ease;
}

.menu__modal.active {
    top: 10%;
    right: 0;
}

.btn__Black {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
}
  
.btn__white {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
}

/*
==============================
Login & Register
==============================
*/

/* 
    Formulario
*/

.container--login {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.container--login::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-80deg, var(--color-primary), var(--color-secondary));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms__container--login {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin__signup {
    position:absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out;
}

.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

.form-login.sign-in-form {
    z-index: 2;
}

.form-login.sign-up-form {
    z-index: 1;
    opacity: 0;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field--login {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field--login i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 20px;
}

.input-field--login input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field--login input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn__login {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn__login:hover {
    background-color: var(--color-primary-dark);
}

/* 
    Paneles
*/

.panels__container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content--auth-form {
    color: #fff;
    transition: .9s 0.6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn__login.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.image {
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content--auth-form, .right-panel .image {
    transform: translateX(800px); /* Ajustar esto para que desaparezca en 4k*/
}

/* Animaciones auth */

.container--login.sign-up-mode::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container--login.sign-up-mode .left-panel .image,
.container--login.sign-up-mode .left-panel .content--auth-form {
    transform: translateX(-800px);
}

.container--login.sign-up-mode .right-panel .content--auth-form, 
.container--login.sign-up-mode .right-panel .image {
    transform: translateX(0px);
}

.container--login.sign-up-mode .left-panel {
    pointer-events: none;
}

.container--login.sign-up-mode .right-panel {
    pointer-events: all;
}

.container--login.sign-up-mode .signin__signup {
    left: 25%;
}

.container--login.sign-up-mode .form-login.sign-in-form {
    z-index: 1;
    opacity: 0;
}

.container--login.sign-up-mode .form-login.sign-up-form {
    z-index: 2;
    opacity: 1;
}

@media (max-width: 870px) {
    .container--login {
        min-height: 800px;
        height: 100vh;
    }

    .container--login::before {
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .signin__signup {
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s .8s ease-in-out;
    }

    .panels__container {
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 8%;
    }

    .panel .content--auth-form {
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn__login.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .image {
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .right-panel .content--auth-form, .right-panel .image {
        transform: translateY(300px);
    }

    .container--login.sign-up-mode::before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container--login.sign-up-mode .left-panel .image,
    .container--login.sign-up-mode .left-panel .content--auth-form {
        transform: translateY(-300px);
    }

    .container--login.sign-up-mode .signin__signup {
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}

@media (max-width: 570px) {
    .form-login {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content--auth-form {
        padding: 0.5rem 1rem;
    }

    .container--login::before {
        bottom: 72%;
        left: 50%;
    }

    .container--login.sign-up-mode::before {
        bottom: 28%;
        left: 50%;
    }
}

/*
==============================
Formulario de Evaluaciones
==============================
*/

.title-form-page {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
    margin-left: 20px;
}